<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">

                        <label>Search for a contact: </label> <input data-ng-model="search" placeholder="Find contact" type="search"/>
                        <table class="table table-condensed table-striped" data-ng-controller="Agenda">
                            <thead>
                            <tr>
                                <th data-ng-click="vm.sort('fname')">Name
                                    <span class="fa" ng-show="vm.sortKey=='fname'" ng-class="{'fa-chevron-up':vm.reverse,'fa-chevron-down':!vm.reverse}"></span>
                                </th>
                                <th data-ng-click="vm.sort('email')">Email
                                    <span class="fa " ng-show="vm.sortKey=='email'" ng-class="{'fa-chevron-up':vm.reverse,'fa-chevron-down':!vm.reverse}"></span>
                                </th>
                                <th data-ng-click="vm.sort('phone')">Phone
                                    <span class="fa " ng-show="vm.sortKey=='phone'" ng-class="{'fa-chevron-up':vm.reverse,'fa-chevron-down':!vm.reverse}"></span>
                                </th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr data-ng-repeat="c in vm.agenda | filter:vm.filter track by $index">-->
                            <tr dir-paginate="c in vm.agenda | orderBy:vm.sortKey:vm.reverse | filter:search | itemsPerPage: vm.contactsPerPage" total-items="vm.totalContacts" current-page="pagination.current">
                                <td><span class="agenda-name">{{c.fname | lowercase}} {{c.lname | lowercase}}</span></td>
                                <td>{{c.email | lowercase  }}</td>
                                <td>{{c.phone }}</td>
                                <td><a class="btn-warning btn-sm" href="#edit-contact/{{c.id}}"><i class="fa fa-edit"></i> Edit</a> &nbsp;
                                    <a  class="btn-danger btn-sm" data-ng-click="vm.delete(c)"><i class="fa fa-remove"></i> Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <dir-pagination-controls template-url="/assets/templates/dirPagination.tpl.html" on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
